<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Summit's Web App</title>

</head>

<body>
    
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader_34">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <header class="header-area">
        <div class="header-card" >
            <div class="header-card-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.2s">
                <div class="card-header bg_cover" style="background-image: url(assets/images/card-bg.jpg)"></div> <!-- card-header -->
                <div class="card-profile">
                    <img src="images/profile.jpg" alt="Profile">
                </div> <!-- card-profile -->
                <div class="card-content text-center">
                    <h3 class="card-title">Good to see you here!</h3>
                    <p class="text">You are sucessfully logged in to the system. This is the first login session developed by Summit using Go and some free online templates. Stay tuned for more updates.<br> Thank You!</p>
              
                    
                    <!--
                    <form method="POST" class="register-form" id="register-form">
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Log Out"/>
                    </div>
                </form>
            -->

        
            <h2><a href="logout"><button>Log Out</button></a></h2>

            </div> <!-- header-card -->
        </div> <!-- header-card -->
    </header>


</body>

</html>
